# Java / Spring Boot
target/
*.class

# Maven
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/

# Logs
*.log

# Environment variables / secrets
.env
*.env
application-secret.properties

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker temporary files
*.pid

# Local secrets
.env
.env.*
!.env.example
